<div class="card">
    <div class="card-body">
        <div *ngIf="messages.length === 0">
            No messages yet.....say hi by using the message box below
        </div>

        <ul *ngIf="messages.length > 0" class="chat">
            <li *ngFor="let message of messages">
                <div>
                    <span class="chat-img float-end">
                        <img class="rounded-circle"
                        style="float: right;"
                        src="{{message.senderPhotoUrl || './assets/users.png'}}"
                        alt="image of user">
                    </span>
                    <div class="chat-body">
                        <div class="header">
                            <small class="text-muted">
                                <span class="fa fa-clock-o">{{message.messageSent | timeago}}</span>
                                <span class="text-danger" *ngIf="!message.dateRead && 
                                    message.senderId != currentUserID"> (Unread) 
                                </span>
                                <span class="text-danger" *ngIf="message.dateRead && 
                                    message.senderId != currentUserID"> (read {{message.dateRead | timeago}}) 
                                </span>
                            </small>
                        </div>
                        <p>{{message.content}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="card-footer">
        <form (ngSubmit)="sendMessage()">
            <div class="input-group">
                <input type="text" class="form-control input-sm" 
                [(ngModel)]="content"
                placeholder="Send a private message"
                [ngModelOptions]="{standalone: true}"
                >
                <div class="input-group-append">
                    <button class="btn btn-primary"
                    type="submit">Send</button>
                </div>
            </div>
        </form>

    </div>
</div>